*{
    margin: 0;
    padding: 0;
}
.text{
    display: flex;
}
.title{
    font-size: 20px;
}
.world {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    background: url('./image/map.png');
    position: relative;
}

.world-north_USA-peoples {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 275px;
    left: 275px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.man-min {
    height: 30px;
    cursor: pointer;
}

.man-mid {
    height: 45px;
    cursor: pointer;
}

.man-max {
    height: 60px;
    cursor: pointer;
}

.world-north_USA-devices {
    width: 150px;
    height: 150px;
    top: 235px;
    left: 205px;
    position: absolute;
    display: none;
    z-index: 1;
}

.phone-north_USA {
    position: absolute;
    height: 40px;
    top: 50px;
    display: none;
}

.tablet-north_USA {
    position: absolute;
    height: 40px;
    top: 80px;
    left: 50px;
    display: none;
}

.laptop-north_USA {
    position: absolute;
    height: 40px;
    top: 50px;
    left: 100px;
    display: none;
}

/* ================================ */

.world-south_USA-peoples {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 500px;
    left: 380px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.world-south_USA-devices {
    width: 150px;
    height: 150px;
    top: 460px;
    left: 325px;
    position: absolute;
    display: none;
    z-index: 1;
}

.phone-south_USA {
    position: absolute;
    height: 40px;
    left: 35px;
    top: 10px;
    display: none;
}

.tablet-south_USA {
    position: absolute;
    height: 40px;
    left: 62px;
    bottom: 0px;
    display: none;
}

.laptop-south_USA {
    position: absolute;
    height: 40px;
    top: 46px;
    left: 100px;
    display: none;
}

/* =====================================*/

.world-Europe-peoples {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 250px;
    left: 650px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.world-Europe-devices {
    width: 233px;
    height: 150px;
    top: 218px;
    left: 581px;
    position: absolute;
    display: none;
}

.phone-Europe {
    position: absolute;
    height: 40px;
    top: 20px;
    left: 165px;
    display: none;
    z-index: 1;
}

.tablet-Europe {
    position: absolute;
    height: 40px;
    bottom: 15px;
    display: none;
    z-index: 1;
}

.laptop-Europe {
    position: absolute;
    height: 40px;
    top: 60px;
    left: 90px;
    display: none;
    z-index: 1;
}

/* =====================================*/

.world-Asia-peoples {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 350px;
    left: 940px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.world-Asia-devices {
    width: 233px;
    height: 150px;
    top: 275px;
    left: 855px;
    position: absolute;
    display: none;
}

.phone-Asia {
    position: absolute;
    height: 40px;
    left: 170px;
    top: 10px;
    display: none;
    z-index: 1;
}

.tablet-Asia {
    position: absolute;
    height: 40px;
    bottom: 0;
    display: none;
    z-index: 1;
}

.laptop-Asia {
    position: absolute;
    height: 40px;
    top: 90px;
    left: 120px;
    display: none;
    z-index: 1;
}

/* =====================================*/

.world-Australia-peoples {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 535px;
    left: 1040px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.world-Australia-devices {
    width: 130px;
    height: 100px;
    top: 525px;
    left: 1000px;
    position: absolute;
    display: none;
}

.phone-Australia {
    position: absolute;
    height: 40px;
    left: 49px;
    top: 36px;
    display: none;
    z-index: 1;
}

.tablet-Australia {
    position: absolute;
    height: 40px;
    top: 40px;
    left: 0px;
    display: none;
    z-index: 1;
}

.laptop-Australia {
    position: absolute;
    height: 40px;
    top: 35px;
    left: 100px;
    display: none;
    z-index: 1;
}

/* =================================== */

.ball {
    width: 40px;
}

.ball-WestUSA {
    position: absolute;
    top: 320px;
    left: 170px;
    display: none;
    z-index: 1;
}

.ball-EastUSA {
    position: absolute;
    top: 300px;
    left: 360px;
    display: none;
    z-index: 1;
}

.ball-Germany {
    position: absolute;
    top: 275px;
    left: 615px;
    display: none;
    z-index: 1;
}

.ball-Singapore {
    position: absolute;
    top: 487px;
    left: 968px;
    display: none;
    z-index: 1;
}

/* =================================== */

.world-road{
    position: absolute;
}

.road{
    position: absolute;
} 

/* ============================================= */

.singapore_oceania_phone{
    display: none;
}

.singapore_oceania_tablet{
    display: none;
}

.singapore_oceania_laptop{
    display: none;
}
/*  */
.singapore_asia_phone{
    display: none;
}

.singapore_asia_tablet{
    display: none;
}

.singapore_asia_laptop{
    display: none;
}
/*  */
.singapore_europe_phone{
    display: none;
}

.singapore_europe_tablet{
    display: none;
}

.singapore_europe_laptop{
    display: none;
}
/*  */
.singapore_north_america_phone{
    display: none;
}

.singapore_north_america_tablet{
    display: none;
}

.singapore_north_america_laptop{
    display: none;
}
/*  */
.singapore_south_america_phone{
    display: none;
}

.singapore_south_america_tablet{
    display: none;
}

.singapore_south_america_laptop{
    display: none;
}
/* ============================== */
.germany_europe_phone{
    display: none;
}

.germany_europe_tablet{
    display: none;
}

.germany_europe_laptop{
    display: none;
}
/*  */
.germany_asia_phone{
    display: none;
}

.germany_asia_tablet{
    display: none;
}

.germany_asia_laptop{
    display: none;
}
/*  */
.germany_oceania_phone{
    display: none;
}

.germany_oceania_tablet{
    display: none;
}

.germany_oceania_laptop{
    display: none;
}
/*  */
.germany_north_america_phone{
    display: none;
}

.germany_north_america_tablet{
    display: none;
}

.germany_north_america_laptop{
    display: none;
}
/*  */
.germany_south_america_phone{
    display: none;
}

.germany_south_america_tablet{
    display: none;
}

.germany_south_america_laptop{
    display: none;
}
/* ======================================= */
.east_usa_north_america_phone{
    display: none;
}

.east_usa_north_america_tablet{
    display: none;
}

.east_usa_north_america_laptop{
    display: none;
}
/*  */
.east_usa_south_america_phone{
    display: none;
}

.east_usa_south_america_tablet{
    display: none;
}

.east_usa_south_america_laptop{
    display: none;
}
/*  */
.east_usa_europe_phone{
    display: none;
}

.east_usa_europe_tablet{
    display: none;
}

.east_usa_europe_laptop{
    display: none;
}
/*  */
.east_usa_oceania_phone{
    display: none;
}

.east_usa_oceania_tablet{
    display: none;
}

.east_usa_oceania_laptop{
    display: none;
}
/*  */
.east_usa_asia_phone{
    display: none;
}

.east_usa_asia_tablet{
    display: none;
}

.east_usa_asia_laptop{
    display: none;
}

/* ======================================= */
.west_usa_south_america_phone{
    display: none;
}

.west_usa_south_america_tablet{
    display: none;
}

.west_usa_south_america_laptop{
    display: none;
}
/*  */
.west_usa_north_america_phone{
    display: none;
}

.west_usa_north_america_tablet{
    display: none;
}

.west_usa_north_america_laptop{
    display: none;
}
/*  */
.west_usa_europe_phone{
    display: none;
}

.west_usa_europe_tablet{
    display: none;
}

.west_usa_europe_laptop{
    display: none;
}
/*  */
.west_usa_oceania_phone{
    display: none;
}

.west_usa_oceania_tablet{
    display: none;
}

.west_usa_oceania_laptop{
    display: none;
}
/*  */
.west_usa_asia_phone{
    display: none;
}

.west_usa_asia_tablet{
    display: none;
}

.west_usa_asia_laptop{
    display: none;
}

.btnNext{
    border: none;
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    background: white;
    display: none;
    cursor: pointer;
}
.btnNext:hover{
    color: rgb(0, 83, 0);
    text-decoration: underline;    
}

.btnStart{
    border: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    background: white;
    display: none;
    cursor: pointer;
}
.btnStart:hover{
    color: brown;
    text-decoration: underline;    
}
.btnStart:disabled{
    color: grey;
    text-decoration: none;
}
.btnReload{
    border: none;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    background: white;
    display: none;
    cursor: pointer;
}
.btnReload:hover{
    color: rgb(97, 2, 97);
    text-decoration: underline;    
}
/* ======================================== */

.monitor{
    width: 0;
    height: 40px;
    position: absolute;
    z-index: 1;
}

.monitor_europe_phone{
    top: 238px;
    left: 759px;
}
.monitor_europe_tablet{
    top: 313px;
    left: 591px;
}
.monitor_europe_laptop{
    top: 278px;
    left: 675px;
}

/*  */

.monitor_north_america_phone{
    top: 285px;
    left: 218px;
}
.monitor_north_america_tablet{
    top: 315px;
    left: 265px;
}
.monitor_north_america_laptop{
    top: 285px;
    left: 309px;
}

/*  */

.monitor_asia_phone{
    top: 285px;
    left: 1038px;
}
.monitor_asia_tablet{
    top: 385px;
    left: 865px;
}
.monitor_asia_laptop{
    top: 365px;
    left: 979px;
}

/*  */

.monitor_south_america_phone{
    top: 470px;
    left: 373px;
}
.monitor_south_america_tablet{
    top: 570px;
    left: 397px;
}
.monitor_south_america_laptop{
    top: 506px;
    left: 429px;
}

/*  */

.monitor_oceania_phone{
    top: 561px;
    left: 1062px;
}
.monitor_oceania_tablet{
    top: 565px;
    left: 1010px;
}
.monitor_oceania_laptop{
    top: 560px;
    left: 1104px;
}

/*  */

.world-finish{
    position: absolute;
    top: 100px;
    right: 200px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    display: none;
}

.world-finish-ByteCloud, .world-finish-ObjectStorage{
    width: 48%;
    height: 100%;
}

h2{
    text-align: center;
}

.world-finish-ByteCloud_All{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border: 1px solid grey;
    display: grid;
    gap: 1px;
    background: grey;
    grid-template-areas:
        "title title title"
        "latency  time video";
    display: none;
}

.world-finish-ByteCloud_All > div {
    background: rgb(186 231 151);
}

.ByteCloud_title{
    grid-area: title ;
    background-color: #8ca0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.ByteCloud-latency{
    grid-area: latency ;
    background-color: #8ca0ff;
    padding: 5px;
}

.ByteCloud-time{
    grid-area: time ;
    background-color: #8ca0ff;
    padding: 5px;
}

.ByteCloud-video{
    grid-area: video ;
    background-color: #8ca0ff;
    padding: 5px;
}

.text_North_USA, .text_South_USA, .text_Europe, .text_Asia, .text_Oceania {
    position: absolute;
    display: none;
}

.text_North_USA{
    top: 255px;
    left: 250px;
}
.text_South_USA{
    top: 545px;
    left: 370px;
}
.text_Europe{
    top: 325px;
    left: 715px;
}
.text_Asia{
    top: 350px;
    left: 900px;
}
.text_Oceania{
    top: 540px;
    left: 1045px;
}
